.main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 320px;
    background-color: #f0f0f0;
    border-radius: 8px;

    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 12px 10px;
    border: 1px solid #8e8e8e;
}
.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4e4e4e;
    border-radius: 8px;
    padding: 10px;
    gap: none;
}
.paragraph{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 10px;
    height: 16px;
}
.number_div h3{
    font-size: 60px;
    font-weight: 600;
    line-height: 2px;
}
.mybutton {
    font-size: 16px;
    font-weight: 400;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}
.mybutton:hover {
    background-color: #286090;
}
